{% extends "index.html" %}
{% import "macros/post.html" as macro_post %}

{% block SEO %}
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta content="{{ page.description | safe }}" name="description">
    {% endif %}
    
    {% if config.extra.author %}
    <meta name="author" content="{{ config.extra.author }}">
    {% endif %}
    
    {% if page.date  %}
    <meta name="date" content="{{ page.date | date(format="%F") }}">
    {% endif %}
    
    <meta property="og:title" content="{{ page.title | safe }}" />
    {% if page.description %}
    <meta property="og:description" content="{{ page.description | safe }}" />
    {% endif %}
    
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ current_url | safe}}" />
{% if page.extra.feature_image %}
    <meta property="og:image" content="{{ config.base_url | safe }}{{ page.extra.feature_image | safe }}" />    
{% endif %}
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:site_name" content="Rocky Le | ROCK your challenges, or rest on your execuses" />
{% endblock SEO %}

{% block content %}

<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        <article>                            
                            {{ macro_post::meta(page=page) }}
                            <h1 class="mb-5">{{ page.title }}</h1>
                            {{ page.content | safe }}
                        </article>

                    </div><!-- End Single Post Content -->

                </div>
            </div>

            {% block page_footer %}
            {{ macro_post::footer(page=page) }}
            {% endblock page_footer %}

        </div>

    </section>
</main><!-- End #main -->

{% endblock content %}