{% extends "index.html" %}
{% import "macros/post.html" as macro_post %}

{% block content %}

<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        {{ macro_post::meta(page=page) }}
                        <h1 class="mb-5">{{ page.title }}</h1>
                        {{ page.content | safe }}

                    </div><!-- End Single Post Content -->

                </div>
            </div>

            {% block page_footer %}
            {{ macro_post::footer(page=page) }}
            {% endblock page_footer %}

        </div>

    </section>
</main><!-- End #main -->

{% endblock content %}